# Python cache
__pycache__/
*.pyc

# Environnement virtuel
venv/
.venv/

# Données
*.csv
*.pkl

# Streamlit
.streamlit/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
